<div
  class=" border-top border-success rounded-3"
  style="background-color: rgb(21, 83, 83)"
>
  <div class="row d-flex flex-sm-row flex-column justify-content-between px-5">
    <div class="col-sm-3 d-flex flex-column">
      <span class="badge text-black bg-light bg-opacity-75 mb-1 shadow mb-1"
        ><i class="fa-solid fa-circle-info me-2 text-dark"></i>About</span
      >
      <span class="fw-bold text-light">Masum Khan</span>
      <span class="fw-normal text-light">Full Stack Developer (MERN/PERN)</span>
      <img
        height="100px"
        class="rounded-circle d-block float-left mx-auto"
        src="https://media-exp1.licdn.com/dms/image/C5603AQGVhTn0cvkcRw/profile-displayphoto-shrink_800_800/0/1661930138028?e=2147483647&v=beta&t=eOwHOZQG1XdsGw2u5S0BP_xb438QudkAgTj33ttcShQ"
        alt="..."
        class="img-thumbnail"
      />
    </div>
    <div class="col-sm-3 d-flex flex-column text-start">
      <span class="badge text-black bg-light bg-opacity-75 mb-1 shadow"
        ><i class="fa-solid fa-address-book me-1"></i>Contacts</span
      >
      <span class="text-warning"
        ><i class="fa-solid fa-phone me-1"></i>01833347848</span
      >
      <a
        class="text-decoration-none text-light"
        href="https://www.linkedin.com/in/masumkhan"
        ><i class="fa-brands fa-linkedin me-1"></i>linkedin.com/in/masumkhan</a
      >
      <a
        class="text-decoration-none text-success"
        href="https://www.instagram.com/masumkhan081"
      >
        <i class="fa-brands fa-square-facebook me-1"></i
        >facebook.com/fanofnietzsche
      </a>
      <a
        class="text-decoration-none text-secondary"
        href="https://www.instagram.com/masumkhan081"
        ><i class="fa-brands fa-instagram me-1"></i
        >instagram.com/masumkhan081</a
      >
      <a
        class="text-decoration-none text-primary"
        href="https://twitter.com/MasumKhan081"
        ><i class="fa-brands fa-twitter me-1"></i>twitter.com/MasumKhan081</a
      >
    </div>
    <div class="col-sm-3 d-flex flex-column text-start">
      <span class="badge text-black bg-light bg-opacity-75 mb-1 shadow"
        ><i class="fa-solid fa-bars me-1"></i>Projects</span
      >

      <a
        class="text-decoration-none text-light"
        href="https://www.linkedin.com/in/masumkhan"
        ><i
          class="fa-solid fa-1 fa-bounce text-light me-2"
          style="--fa-animation-duration: 7s"
        ></i
        >drugs info</a
      >
      <a
        class="text-decoration-none text-light"
        href="https://www.instagram.com/masumkhan081"
        ><i
          class="fa-solid fa-2 fa-bounce text-light me-2"
          style="--fa-animation-duration: 8s"
        ></i>
        resume-builder
      </a>
      <a
        class="text-decoration-none text-light"
        href="https://www.instagram.com/masumkhan081"
        ><i
          class="fa-solid fa-3 fa-bounce text-light me-2"
          style="--fa-animation-duration: 9s"
        ></i
        >pern to do</a
      >
      <a
        class="text-decoration-none text-light"
        href="https://twitter.com/MasumKhan081"
        ><i
          class="fa-solid fa-4 fa-bounce text-light me-2"
          style="--fa-animation-duration: 10s"
        ></i
        >passport auth</a
      >
    </div>
  </div>
</div>
