<div class="border-top border-success rounded-3" style="background-color: rgb(49, 70, 70)">
  <div class="row d-flex flex-sm-row flex-column justify-content-between px-5">
    <div class="col-sm-3 d-flex flex-column">
      <span class="text-light mb-1 mb-1"><i class="fa-solid fa-circle-info me-2 text-light fs-6 fa-fade "></i> </span>
      <span class="fst-italic text-white-50">Masum Khan</span>
      <span class="fst-italic text-white-50">Full Stack Developer (MERN, PERN)</span>
      <img src="../resources/mk-2.png" height="100px" alt="masumkhan.png" class="rounded-circle" />
    </div>
    <div class="col-sm-4 d-flex flex-column text-start fst-italic">
      <span class="text-light mb-1 mb-1 text-center"><i class="fa-solid fa-address-book fa-fade fs-6 me-1"></i></span>
      <span class="text-white-50 text-opacity-75"><i class="fa-solid fa-phone text-light me-2"></i>01833347848</span>
      <span class="text-white-50 text-opacity-75"><i
          class="fa-solid fa-envelope text-light me-2"></i>study.contents.of.masumkhan@gmail.com</span>
      <a class="text-decoration-none text-white-50 text-opacity-75" href="https://www.linkedin.com/in/masumkhan"><i
          class="fa-brands fa-linkedin text-light me-2"></i>linkedin.com/in/masumkhan</a>
      <a class="text-decoration-none text-white-50 text-opacity-75"
        href="https://github.com/masumkhan081?tab=repositories" target="_blank"><i
          class="fa-brands fa-github text-light me-2"></i>Repositories</a>
      <a class="text-decoration-none text-white-50 text-opacity-75" href="https://www.instagram.com/masumkhan081">
        <i class="fa-brands fa-square-facebook text-light me-2"></i>facebook.com/fanofnietzsche </a>
      <a class="text-decoration-none text-white-50 text-opacity-75" href="https://twitter.com/MasumKhan081"><i
          class="fa-brands fa-twitter text-light me-2"></i>twitter.com/masumkhan081</a>
    </div>
    <div class="col-sm-3 d-flex flex-column text-start fst-italic">
      <span class="badge text-light mb-1 ">Other Projects</span>
      <span class="text-light">Portfolio <i class="fa-solid fa-globe me-1"></i><a
          class="text-decoration-none text-info " target="_blank"
          href="https://masumk081.web.app">masumk081.web.app</a></span>
      <a class="text-decoration-none text-info mt-sm-2" href="https://www.linkedin.com/in/masumkhan"><i
          class="fa-solid fa-1 fa-shake text-light mx-2" style="--fa-animation-duration: 2s"></i>drugs info </a>
      <a class="text-decoration-none text-info " href="https://www.instagram.com/masumkhan081"><i
          class="fa-solid fa-2 fa-shake text-light mx-2" style="--fa-animation-duration: 2s"></i>resume-builder </a>
      <a class="text-decoration-none text-info " href="https://www.instagram.com/masumkhan081"><i
          class="fa-solid fa-3 fa-shake text-light mx-2" style="--fa-animation-duration: 2s"></i>pern to do</a>
      <a class="text-decoration-none text-info " href="https://twitter.com/MasumKhan081"><i
          class="fa-solid fa-4 fa-shake text-light mx-2" style="--fa-animation-duration: 2s"></i>passport auth</a>
    </div>
  </div>
</div>
