<div
  class="d-flex justify-content-between mt-0 pt-0 shadow-sm  text-dark py-auto"
  style="background-color: rgb(54, 109, 109);min-height: 65px;"
>
  <div
    class="ms-4  text-md-start text-center wrap d-flex align-content-center bg-success"
  >
    <a
      href="/"
      class="px-1 text-decoration-none  text-white border-3 border-start border-end border-success rounded-3"
      >drugs.info</a
    >
    <a
      target="_blank"
      class="ms-3 mt-1 text-light"
      href="https://github.com/masumkhan081/drugs.info"
      ><i class="fa-brands fa-github me-1"></i
    ></a>
    <%if(authstatus==="true"){%>
    <a
      class="ms-1 mt-2 text-center text-decoration-none text-danger fs-6"
      href="/logout"
    >
      Logout</a
    >
    <%} else{%> <%}%>
  </div>
  <div class="  me-2 pt-1">
    <ul
      class=" flex-sm-row flex-column gap-sm-3"
    >
      <li>
        <a
          class=" fw-bold rounded-pill bg-gradient"
          href="/drugs"
          style="color: rgb(236, 168, 145)"
        >
          Brands
        </a>
      </li>
      <li class="-item w-sm-100 ">
        <a
          class=" link-info fw-bold w-sm-100 rounded-pill bg-gradient"
          href="/companies"
          >Manufacturers</a
        >
      </li>
      <li class="-item">
        <a
          class=" link-warning fw-bold rounded-pill bg-gradient"
          href="/generics"
          >Generics</a
        >
      </li>
      <li class="-item">
        <a
          class=" fw-bold rounded-pill bg-gradient"
          href="/groups"
          style="color: lightblue"
          >Groups</a
        >
      </li>
      <li class="-item">
        <a
          class=" fw-bold rounded-pill bg-gradient"
          href="/formulations"
          style="color: beige"
          >Formulations</a
        >
      </li>
    </ul>
  </div>
  -->
  <!--                                     USER    MODAL                                  -->
  <%-include('modal_register',{errors:[]})%> <%-include('modal_login')%>
  <!--  -->
  <script>
    function passCommonality() {
      let pass1 = document.getElementById("regpass").value;
      let pass2 = document.getElementById("regpass2").value;
      let regerror = document.getElementById("regerror");
      if (regerror.firstChild) {
        regerror.removeChild(regerror.firstChild);
      }
      let li;
      console.log("in pass commonoatliy" + pass1 + "   " + pass2);
      if (pass1 != pass2) {
        li = document.createElement("li");
        li.innerHTML = "Dissimilar Password & Confirm Password";
        regerror.appendChild(li);
        document.getElementById("btnsubmitreg").disabled = true;
      }
      if (pass1 == pass2) {
        document.getElementById("btnsubmitreg").disabled = false;
      }
    }

    function logintoRegister() {
      document.getElementById("login-modal").style.display = "none";
      document.getElementById("register-modal").style.display = "block";
    }

    function registertoLogin() {
      document.getElementById("register-modal").style.display = "none";
      document.getElementById("login-modal").style.display = "block";
    }

    function show_registerModal() {
      document.getElementById("register-modal").style.display = "block";
    }

    function show_loginModal() {
      document.getElementById("login-modal").style.display = "block";
    }
    window.onclick = function (event) {
      let loginmodal = document.getElementById("login-modal");
      let registermodal = document.getElementById("register-modal");

      if (event.target == loginmodal) {
        //  loginmodal.style.display = "none ";
      }
      if (event.target == registermodal) {
        //  registermodal.style.display = "none ";
      }
    };
  </script>
</div>
