<div id="edit-modal" class="modal mt-5 rounded">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header py-0 my-0 bg-dark">
        <span class="modal-title text-warning fw-bold">Modify Drug</span>
        <button
          class="btn btn-sm px-2 text-warning py-0 border-0 border-bottom border-light"
          onclick="document.getElementById( 'edit-modal').style.display='none' "
        >
          CLOSE
        </button>
      </div>
      <div class="modal-body bg-success bg-opacity-10 pt-3">
        <form class="text-start" action="/drugs/edt" method="post">
          <div class="form-group row mb-3">
            <label
              for="edit_selectedcmp"
              class="fw-bold col-sm-3 col-form-label"
              >Manufacturers:</label
            >
            <div class="col-sm-8">
              <select
                name="cmpid"
                id="edit_selectedcmp"
                required
                class="form-control rounded"
              >
                <option value="" disabled selected>
                  Select a manufacturer
                </option>
                <%companies.forEach(cmp=> {%>
                <option value="<%=cmp.id%>"><%=cmp.name%></option>
                <% });%>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label
              for="edit_selectedgrp"
              class="fw-bold col-sm-3 col-form-label"
              >Groups:</label
            >
            <div class="col-sm-8">
              <select
                name="grpid"
                id="edit_selectedgrp"
                onchange="getGensByGrp('edit')"
                required
                class="form-control rounded w-100"
              >
                <option value="" selected>Select a group</option>
                <%groups.forEach(grp=> {%>
                <option value="<%=grp.id%>"><%=grp.name%></option>
                <% });%>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label
              for="edit_selectedgen"
              class="fw-bold col-sm-3 col-form-label"
              >Generics:</label
            >
            <div class="col-sm-8">
              <select
                name="genid"
                id="edit_selectedgen"
                required
                class="form-control rounded w-100"
              >
                <option value="" disabled selected>Select a generic</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label
              for="edit_selectedgen"
              class="fw-bold col-sm-3 col-form-label"
              >Name:</label
            >

            <div class="col-sm-8">
              <input
                id="edtdrgname"
                class="form-control text-start w-100"
                required
                name="drgname"
                placeholder="Drug name"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <input hidden class="" id="edtdrgid" value="" name="drgid" />
            </div>
            <div class="col-sm-8">
              <button
                class="btn btn-sm bg-secondary bg-opacity-25 w-50 fw-bold"
              >
                U P D A T E
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
